<%= flash[:success] %>

<% if user_signed_in? %>
<%# seach section %>
<div class="container">
  <%= search_form_for @q, url: root_path, html: {method: :get} do |f| %>
    <div class="row">
      <div class="col-4">
        <%= f.search_field :content_english_cont, placeholder: "キーワードを入力してください", class: "form-control" %>
      </div>
      <div class="col-4">
        <%= f.select :scene_eq, options_for_select(Post.all.map{ |c| [c.scene, c.scene] }.uniq, params[:q]&.[](:scene_eq)), {prompt: "カテゴリを選択してください"}, {class: "form-select"} %>
      </div>
      <div class="col-2">
        <%= f.submit "検索", class: "btn btn-primary" %>
      </div>
      <div class="col-2">
        <button type="button" onclick="location.href='?'" class="btn btn-outline-secondary">リセット</button>
      </div>
    </div>
  <% end %>
</div>



<%# feed section %>
  <%= render 'shared/feed' %>
<%# paginate section %>
<section>
  <div class="container mt-4">
    <%= paginate @feed_items, theme: 'bootstrap-5',
                              pagination_class: "pagination-sm flex-wrap justify-content-center" %>

  </div>
</section>
<% else %>

<% end %>