<%= flash[:success] %>

<% if user_signed_in? %>
<%# seach section %>
<div class="container">
  <%= form_tag root_path, method: :get do %>
    <div class="row">
      <div class="col-4">
        <%= text_field_tag :content_english, params[:content_english], placeholder: "キーワードを入力してください", class: "form-control" %>
      </div>
      <div class="col-4">
        <%#= select_tag :scene, options_for_select(Post.all.map{ |c| [c.scene, c.scene] }, params[:scene]), prompt: "カテゴリを選択してください", class: "form-select" %>
        <%= select_tag :scene, options_for_select(Post.all.map{ |c| [c.scene, c.scene] }.uniq, params[:scene]), prompt: "カテゴリを選択してください", class: "form-select" %>
      </div>
      <div class="col-4">
        <%= submit_tag "検索", class: "btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>

<%# feed section %>
  <%= render 'shared/feed' %>
<%# paginate section %>
<section>
  <div class="container mt-4">
    <%= paginate @feed_items, theme: 'bootstrap-5',
                              pagination_class: "pagination-sm flex-wrap justify-content-center" %>

  </div>
</section>
<% else %>

<% end %>