<section>
  <div class="container bg-white">
    <div class="row">
      <div class="d-flex border-top ps-3 pt-3 pb-3">
        <div>
          <%= link_to user_path(user) do %>
            <% if user.avatar.attached? %>
              <%= image_tag user.avatar, class:"rounded-circle", size: 50 %>
            <% else %>
              <%= image_tag 'noimage.jpg', class:"rounded-circle", alt:"ユーザアイコン", size: 50 %>
            <% end %>
          <% end %>
        </div>

          <div class="user_name ms-1 mb-0">
            <%= link_to user_path(user), class: "link-dark" do %>
              <%= user.name %>
            <% end %>
          </div>
          <%# <p class="post_time link-secondary ms-1 mb-0"> %>
            <%#= l post.created_at%>
          <%# </p> %>
        </div>

    </div>
  </div>
</section>