<%# user section %>
<section class= "bg-light">
  <div class="container">
    <div class="row">
      <div class="image text-center">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar, size: 100, class:"rounded-circle" %>
        <% else %>
          <%= image_tag src='noimage.jpg', alt:"ユーザアイコン", size: 100, class:"rounded-circle" %>
        <% end %>
      </div>
      <div class="text-center">
        <%= @user.name %>
      </div>
      <div class="text-center">
        <%= @user.occupation %>
      </div>
      <div class="text-center">
        <%= render 'shared/stats' %>
        <%= render 'follow_form' if user_signed_in? %>
      </div>
    </div>
  </div>
</section>
<%# chart section %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <%= pie_chart @data %>
      </div>
      <div class="col-6">
        <div class="border">
          <% @data.each do |scene, count| %>
            <%= scene %> <%= count %>回<br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<%# post section %>
<section>
  <div class="container">
    <% if @user.posts.any? %>
      <h3>あなたの投稿 (<%= @user.posts.count %>)</h3>
      <div>
        <%= render @posts %>
      </div>
      <%= paginate @posts %>
    <% end %>
  </div>
</section>