<div class="container">
  <div class="row">
    <div class="col-md-4 mt-3">
      <%# user section %>
      <section class= "bg-white">
        <%= render 'users/user_mypage' %>
      </section>
    </div>

    <div class="col-md-8 mt-3">
      <%# chart section %>
      <section class= "bg-white">
        <div class="container d-flex flex-wrap justify-content-center px-4 py-4">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <%= pie_chart @data, donut: true %>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="border">
              <% @data.each do |scene, count| %>
                <%= scene %> <%= count %>回<br>
              <% end %>
            </div>
          </div>
        </div>
      </section>

      <%# post section %>
      <section>
        <% if @user.posts.any? %>
          <h3>投稿した記事 (<%= @user.posts.count %>)</h3>
          <div>
            <%= render @posts %>
          </div>
          <div class="mt-4">
            <%= paginate @posts, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center" %>
          </div>
        <% end %>
      </section>

    </div>
  </div>
</div>