<h1>プロフィール</h1>

<% if @user.avatar? %>
  <%= image_tag @user.avatar.url, size: 60 %>
<% else %>
  <%# <%= image_tag '/assets/noimage.jpg' %>
  <%= image_tag src='noimage.jpg', class:"user-icon", alt:"ユーザアイコン" %>
<% end %>

<h2><%= @user.name %></h2>
<h2><%= @user.occupation %></h2>
<h2><%= render 'shared/stats' %></h2>
<h2><%= render 'follow_form' if user_signed_in? %></h2>


  <div class="col-md-8">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <% if @user.posts.any? %>
      <h3>あなたの投稿 (<%= @user.posts.count %>)</h3>
      <ol class="microposts">
        <%= render @posts %>
      </ol>
      <%= paginate @posts %>
    <% end %>

  </div>