<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field"></div>
    <%= f.label :subject %>
    <li><%= f.text_area :subject_english, placeholder: "英文で入力" %></li>
    <%= f.label :メール本文 %>
    <li><%= f.text_area :content_english, placeholder: "英文で入力" %></li>
    <%= f.label :件名 %>
    <li><%= f.text_area :subject_japanese, placeholder: "日本語で入力" %></li>
    <%= f.label :メール本文 %>
    <li><%= f.text_area :content_japanese, placeholder: "日本語で入力" %></li>
  </div>
  <%= f.submit "投稿", class: "btn btn-primary" %>

<% end %>
