  <div class="container">
    <div class="row border bg-white">
      <div class="mt-1 mb-1">あなたへのおすすめ記事</div>
      <div class="d-flex border-top pt-3">
        <% if @recommend_post.present? %>
          <div>
            <%= link_to user_path(@recommend_post.user) do %>
              <% if @recommend_post.user.avatar.attached? %>
                <%= image_tag @recommend_post.user.avatar, class:"rounded-circle", size: 32 %>
              <% else %>
                <%= image_tag 'noimage.jpg', class:"rounded-circle", alt:"ユーザアイコン", size: 32 %>
              <% end %>
            <% end %>
          </div>

          <div class="post_user">
            <p class="ms-1 mb-0">
              <%= link_to user_path(@recommend_post.user), class: "link-dark" do %>
                <%= @recommend_post.user.name %>
              <% end %>
            </p>
            <p class="post_time link-secondary ms-1 mb-0">
              <%= l @recommend_post.created_at%>
            </p>
          </div>
      </div>

          <div class="post_subject ps-5">
            <%= link_to post_path(@recommend_post), class: "link-dark" do %>
              <%= @recommend_post.subject_english %>
            <% end %>
          </div>
          <div class="post_scene ps-5 pb-3">
            <p class="mb-0"><%= @recommend_post.scene %></p>
            <p class="mb-0"><i class="fa-regular fa-heart text-center me-1" style="color: #AAAAAA;"></i><%= @recommend_post.likes.count %></p>
          </div>
        <% end %>
    </div>
  </div>
