<h1>プロフィール</h1>
<h2><%= @user.name %></h2>
<h2><%= @user.occupation %></h2>

  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>あなたの投稿 (<%= @user.posts.count %>)</h3>
      <ol class="microposts">
        <%= render @posts %>
      </ol>
      <%= paginate @posts %>
    <% end %>

  </div>