<!-- feed section -->
<section>
  <div class="container bg-white">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12 icon d-flex border-top pt-3">
        <div>
          <%= link_to user_path(post.user) do %>
            <% if post.user.avatar.attached? %>
              <%= image_tag post.user.avatar, class:"rounded-circle", size: 35 %>
            <% else %>
              <%= image_tag 'noimage.jpg', class:"rounded-circle", alt:"ユーザアイコン", size: 30 %>
            <% end %>
          <% end %>
        </div>
        <div class="post_user">
          <p class="ms-1 mb-0">
            <%= link_to user_path(post.user), class: "link-dark" do %>
              <%= post.user.name %>
            <% end %>
          </p>
          <p class="post_time link-secondary ms-1 mb-0">
            <%= l post.created_at%>
          </p>
        </div>
        <div class="ms-auto">
          <% if current_user?(post.user) %>
            <%= button_to "投稿を削除する", post, method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" }}, class: "btn btn-danger btn-sm  text-white" %>
          <% end %>
        </div>
      </div>
        <div class="post_subject ps-5">
          <%= link_to post_path(post), class: "link-dark" do %>
            <%= post.subject_english %>
          <% end %>
        </div>
        <div class="post_scene ps-5 pb-3">
          <p class="mb-0"><%= post.scene %></p>
        </div>
    </div>
  </div>
</section>







<%# <div id="subject"> %>
    <%# Subject:<%= truncate(post.subject_english, length: 30, omission: '...') %>
<%# </div> %>

<%# <div id="scene"> %>
  <%# ビジネスシーン:<%= post.scene %>
<%# </div> %>