<!-- feed section -->
    <section id="feed">
          <div class="service card-effect">
            <div id="container">

                <div id="subject">
                    Subject:<%= truncate(post.subject_english, length: 30, omission: '...') %>
                </div>

                <div id="icon">
                    <%#= image_tag post.user.avatar, size: 50 %>
                  <% if post.user.avatar.attached? %>
                    <%= image_tag post.user.avatar, class:"rounded-circle", size: 50 %>
                  <% else %>
                    <%= image_tag 'noimage.jpg', class:"rounded-circle", alt:"ユーザアイコン", size: 50 %>
                  <% end %>
                </div>

                <div id="name">
                  名前:<%= link_to post.user.name, post.user %>
                </div>

                <div id="occupation">
                  職種:<%= post.user.occupation %>
                </div>

                <div id="scene">
                  ビジネスシーン:<%= post.scene %>
                </div>

                <div id="timestamp">
                  <%= time_ago_in_words(post.created_at)+ "前" %>
                  <% if current_user?(post.user) %>
                    <%= link_to "削除", post, data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか?' } %>
                  <% end %>
                </div>

                <div id="detail">
                  <%= link_to '投稿を見る', post_path(post) %>
                </div>
            </div>
          </div>


    </section>