<li id="post-<%= post.id %>">
  <%# <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="occupation"><%= post.user.occupation %></span>
  <span class="scene"><%= post.scene %></span>
  <span class="subject"><%= post.subject_english %></span>
  <span class="content"><%= post.content_english %></span>
  <span class="subject"><%= post.subject_japanese %></span>
  <span class="content"><%= post.content_japanese %></span>
  <span class="timestamp">
    <%= time_ago_in_words(post.created_at)+ "前" %>
    <% if current_user?(post.user) %>
      <%= link_to "削除", post, data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか?' } %>
    <% end %>
  </span>
</li>