<%# english section %>
<section>
  <div class="container">
    <div class="row">
      <div class="d-flex col-md-2 mt-4">
        <div class="d-flex flex-sm-row flex-md-column mx-auto">
          <%= render 'likes/like' %>
          <div class="text-center">
            <%= @post.likes.count %>
          </div>
          <%= render 'bookmarks/bookmark' %>
          <div class="text-center">
            <%= @post.bookmarks.count %>
          </div>
        </div>
      </div>

      <div class="col-md-5 mt-4">
          <div id="post-<%= @post.id %>">
            <div class="border border-2">
              <div class="m-1">Subject:<%= @post.subject_english %></div>
            </div>
            <div class="border border-2 mt-3">
              <div class="post_wrap m-1"><%= @post.content_english %></div>
            </div>
          </div>
      </div>
      <div class="col-md-5 mt-4">
        <div id="post-<%= @post.id %>">
          <div class="border border-2">
            <div class="m-1">件名:<%= @translation_subject %></div>
          </div>
          <div class="border border-2 mt-3">
            <div class="m-1"><%= @translation_content %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%# comment section %>
<section>
  <div class="comments ml-5 mt-5">
    <%= form_with(model:[@post, @comment], local: true) do |f| %>
      <%= f.text_area :comment, :size=>"60x3",placeholder: "コメントする" %>
      <%= f.submit "送信", class: "btn btn-success mb-4" %>
    <% end %>

      <p>コメント件数：<%= @comments.count %></p>
      <% @comments.each do |comment| %>
        <div class="comments-index mb-2">
              <%= comment.user.name %>
              <%= comment.created_at.strftime('%Y/%m/%d') %>
          <div class="d-flex">
            <%= comment.comment %>
            <% if comment.user == current_user %>
              <div class="">
                <%= link_to "削除", post_comment_path(comment.post, comment), data: { turbo_method: :delete }, class: "btn-sm btn-danger" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

          <%= paginate @comments, theme: 'bootstrap-5',
                       pagination_class: "pagination-sm flex-wrap justify-content-center" %>
  </div>
</section>
<%#= turbo_stream.update "hoge" do %>
  <%#= render 'bookmarks/bookmark' %>
<%# end %>
