<%# english section %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-6">
          <div id="post-<%= @post.id %>">
            <div class="border border-2">
              <div class="m-1">Subject:<%= @post.subject_english %></div>
            </div>
            <div class="border border-2 mt-3">
              <div class="m-1"><%= @post.content_english %></div>
            </div>
          </div>
      </div>
      <div class="col-6">
        <div id="post-<%= @post.id %>">
          <div class="border border-2">
            <div class="m-1">件名:<%= @post.subject_english %></div>
          </div>
          <div class="border border-2 mt-3">
            <div class="m-1"><%= @post.content_english %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'bookmarks/bookmark' %>
<%#= turbo_stream.update "hoge" do %>
  <%#= render 'bookmarks/bookmark' %>
<%# end %>



<%#= @text %>
<%#= @translation %>