<%# english section %>
<section>
  <div class="container">
    <div class="row">
      <div class="d-flex col-md-2 mt-4">
        <div class="d-flex flex-sm-row flex-md-column mx-auto">
          <%= render 'likes/like' %>
          <div class="text-center"><%= @post.likes.count %></div>
          <%= render 'bookmarks/bookmark' %>
        </div>
      </div>

      <div class="col-md-5 mt-4">
          <div id="post-<%= @post.id %>">
            <div class="border border-2">
              <div class="m-1">Subject:<%= @post.subject_english %></div>
            </div>
            <div class="border border-2 mt-3">
              <div class="post_wrap m-1"><%= @post.content_english %></div>
            </div>
          </div>
      </div>
      <div class="col-md-5 mt-4">
        <div id="post-<%= @post.id %>">
          <div class="border border-2">
            <div class="m-1">件名:<%= @translation_subject %></div>
          </div>
          <div class="border border-2 mt-3">
            <div class="m-1"><%= @translation_content %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%#= turbo_stream.update "hoge" do %>
  <%#= render 'bookmarks/bookmark' %>
<%# end %>
