
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 mx-auto">
        <h2><%= t('.sign_up') %></h2>
        <div class="field mt-3">
          <%= f.label :名前 %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>

        <div class="field mt-3">
          <%= f.label :職種 %>
          <%= f.select :occupation, [["営業", "営業"], ["企画・マーケティング", "企画・マーケティング"], ["販売・サービス関連", "販売・サービス関連"],
          ["一般事務", "一般事務"], ["専門職(コンサルタント・金融・不動産等)", "専門職(コンサルタント・金融・不動産等)"], ["経理・財務", "経理・財務"], ["人事", "人事"],
          ["総務", "総務"],["技術系(ITエンジニア)", "技術系(ITエンジニア)"],["技術系(メディカル、科学、食品、医療)", "技術系(メディカル、科学、食品、医療)"],
          ["技術系(電気、電子、機械、自動車)", "技術系(電気、電子、機械、自動車)"],["技術系(建築、土木関連)", "技術系(建築、土木関連)"],["クリエイティブ関連", "クリエイティブ関連"],
          ["専門職(インターネット)関連", "専門職(インターネット)関連"],["その他", "その他"]], { include_blank: "選択して下さい" }, class: "form-select" %>
        </div>

        <div class="field mt-3">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="field mt-3">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="field mt-3">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="mt-3 d-grid">
          <%= f.submit t('.sign_up'), class: "btn btn-primary" %>
        </div>

      </div>
    </div>
  </div>
<% end %>

<%# <%= render "users/shared/links" %>
